
.blog {

    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffb3da;
    padding:2rem 1rem;
    border-radius: 10px;
}
.blog h1 {
    color: rgb(34, 190, 122);
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 20px;
}  

.blog-post {
    background-color: aqua;
    border: 1px solid #120f11;
    border-radius: 10px;
    padding: 1.5rem;
    margin-bottom: 1.5;
    box-shadow: 0 3px px rgba(0,0,0,0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.blog-post:hover {
    transform: translate(-4px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);

}
.blog-post h2 {
    color: rgb(82, 20, 181);
    margin-bottom: 0.5rem;

    
}

.blog-meta {
    font-size: 0.9rem;
    color: #ffb3da;
    line-height: 1.6;
}

.blog-post p {
    color: #333;
    line-height: 1.6;
}

/* Buttons (like “Read more”) */
.blog-post a.btn {
    display: inline-block;
    margin-top: 0.8rem;
    background-color: rgb(82, 20, 181);
    color: #fff;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.blog-post a.btn:hover {
    background-color: rgb(64, 15, 142);
}

/* Mobile responsiveness */
@media (max-width: 767px) {
    .blog {
        padding: 1rem;
    }

    .blog-post {
        padding: 1rem;
    }
}


