
.home{
    background-color: rgb(69, 14, 147);
    padding: 3rem 1rem;
    text-align: center;
}

.home h1 {    
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.home .main-img {
    border: 2px solid #c61111;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    height: auto;
    
}


.home .section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1.3rem;
}

.home .section1 .info {
    text-align: left;
    padding-right: 10px;
}

@media(max-width: 767px) {
    /*style for mobile devices*/

   .home h1 {
        text-align: center;
        color:antiquewhite
   } 

  .section1 {
    flex-direction: column;
    text-align: center;
  }

  .home .main-img {
    width: 80%;
  }
}  
