{% extends 'base.html' %}

{% block title %}
Blog - Chica
{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/blog.css'%}">
{% endblock %}

{% block content %}
<div class="blog">
    <h1>Blog Posts</h1>

    <div class="add-post">
        <a href="{% url 'create_post' %}" class="btn btn-primary">+ Add New Post</a>
        
    </div>

    {% for post in post_list %}
    <div class="post">
        <h2>{{ post.title }}</h2>
        <p class="date">Posted on {{ post.created_on|date:"F j, Y" }}</p>
        <div class="content">
            {{ post.content|linebreaks }}
        </div>
        <div class="data">
            <p>Author: {{ post.author.username }}</p>
        </div>

        <a class="btn btn-primary" href="{% url 'post-detail' post.id %}">Read More</a>
    </div>
    {% empty %}
    <p>No blog posts available.</p>
    {% endfor %}

</div>


{% endblock %}