<!DOCTYPE html>
<html lang="en">
<head>
    <STYLE>
        body {font-family: Arial, sans-serif}
        .container {padding: 20px; }
        .header {background-color: #9593938b; padding: 10px ;}
    </STYLE>
</html>

    <div class="container">
        <div class="header">
            <h1>New Contact From Submission</h1>
        </div>
        <p><strong>Name:</strong> {{ name }}</p>
        <p><strong>Email:</strong> {{ email }}</p>
        <p><strong>Message:</strong></p>
        <p>{{ message }}</p>
    </div>
</body>
</html>