{% extends "base.html" %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/about.css '%}">
{% endblock %}

{% block content %}
<div class="about-container">
    <div class="about-header">
        <h2>About Us</h2>
        <p>Learn more about our mission, values, and the people behind the work</p>
    </div>
</div>
<h3>produce by</h3>
<p>Wilbert Baker</p>
<p>The terms “data breach” and “breach” are often used interchangeably with “cyberattack”.
 However, not all there are personal attacks against your personal information which is Called
"Identity theft".There are many way to protect yourself and or your company. Watch what you put on
the web by guarding your pass words and donot use your birthday date or any of your families dates as well
also use anti-virus which their are very many on the market her are a few which I think is the Best. Here are a few Examples:
</p>



<ul>

<li><strong>MORTON anti Virus-- This is one of the better anti-virus, : 1. regular 65 per month   2.$ 190 Annually</li>

<li><strong>AVELON Anti-virus-- This anti-virus is a good but it is not used a lot: 1. regular $55 per month  2. $110 Annually</li>

<li><strong>NADIA Anti Virus-- This product is one of the newer anti-virus on the market: 1. regular $45 per month 2. $105 Annually</li>

<li><strong>PINKERTON Anti-Virus-- This one is the newest which has just came on the market: 1.regular $35 per month 2. $95 Annually</li>
</ul>
<hr>
<div class="contact-info">
    <h4>Contact</h4>
    {% if user.is_authenticated %}
    <p>If you'd like to reach me, send an email to:<a href="mailto:wilb1841@gmail.com">wilb1841@gmail.com</a></p>
    {% else %}
    <p><em>Please <a href="{% url 'login' %}">log in</a> to see the contact information.</em></p>
    {% endif %}
</div>


{%endblock %}
